<section id="schedule" class="section">
  <div class="container" *ngIf="getCurrentScheduleEvent() | async; let currentScheduleEvent">
    <div class="columns has-text-centered">
      <div class="column">
        <h2 class="title is-2">Happening Now</h2>
        <h4 class="subtitle is-4">This is event happening right now.</h4>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        {{currentScheduleEvent | json}}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        <h2 class="title is-2">Schedule</h2>
        <h4 class="subtitle is-4">This is our schedule for this year! Check it out!</h4>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="tabs is-toggle is-fullwidth">
          <ul>
            <li [ngClass]="{'is-active': isDaySelected(0)}">
              <a (click)="selectDay(0)">
                <span>Conf Day 1</span>
              </a>
            </li>
            <li [ngClass]="{'is-active': isDaySelected(1)}">
              <a (click)="selectDay(1)">
                <span>Conf Day 2</span>
              </a>
            </li>
            <li [ngClass]="{'is-active': isDaySelected(2)}">
              <a (click)="selectDay(2)">
                <span>Workshop Day 3</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let scheduleEvents of scheduleEventList; let i = index">
      <div class="columns" *ngIf="isDaySelected(i)">
        <div class="column">
          <div class="timeline is-centered">
            <header class="timeline-header">
              <span class="tag is-large is-danger">Start Of Day {{i + 1}}</span>
            </header>
            <div class="timeline-item is-medium is-danger" *ngFor="let scheduleEvent of scheduleEvents">
              <div class="timeline-marker is-danger"></div>
              <div class="timeline-content">
                <p class="heading is-1">{{scheduleEvent.title}} | {{scheduleEvent.dateTime | date:'shortTime'}}
                  <span *ngIf="scheduleEvent.dateTimeEnd"> - {{scheduleEvent.dateTimeEnd | date:'shortTime'}}</span>
                </p>
                <figure class="image is-128x128" *ngIf="scheduleEvent.imgUrl">
                  <img [src]="scheduleEvent.imgUrl" [alt]="scheduleEvent.title">
                </figure>
                <p class="heading is-3" *ngIf="scheduleEvent.author">
                  <a [href]="scheduleEvent.author.profileUrl">{{scheduleEvent.author.name}}</a>
                </p>
                <p>{{scheduleEvent.description}}</p>
              </div>
            </div>
            <header class="timeline-header">
              <span class="tag is-large is-danger">End Of Day {{i + 1}}</span>
            </header>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
