<app-header title="Tickets"></app-header>
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column" *ngFor="let ticket of this.tickets">
        <div class="card">
          <div class="card-content has-text-centered">
            <figure class="image is-1by1">
              <img [src]="ticket.imageUrl" />
            </figure>
            <p class="title">
              {{ticket.price | currency}}
            </p>
            <p class="subtitle">
              {{ticket.title}}
            </p>
            <ul class="pricing">
              <li>{{ticket.description}}</li>
              <li>Full access to conference</li>
              <li>Meals included</li>
              <li><a [href]="ticket.url" class="button is-primary">Get Ticket</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

