<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="../../../assets/img/phpconfasia-banner.png" alt="PHPConfiAsia 2019 banner"/>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic"
       (click)="toggleBurger()" [ngClass]="{'is-active': burgerOpened$ | async}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu" [ngClass]="{'is-active': burgerOpened$ | async}">
    <div class="navbar-start">
      <a [routerLink]="navUrl.url" class="navbar-item" *ngFor="let navUrl of this.navbarUrls">
        {{navUrl.name}}
      </a>
      <a href="https://2018.phpconf.asia" class="navbar-item">
        2018
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="https://twitter.com/PHPConfAsia/status/1124927446908674048" class="button is-primary">
            <b><s>Event Cancelled</s></b>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
