<app-header title="Landing Venue"></app-header>
<div class="section">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column">
          <h2 class="title">Microsoft Singapore, Level 21</h2>
          <p class="subtitle">Singapore 018989</p>
          <p>Our landing location for this year is at Microsoft Office, where the frameworks would battle out in their
            toughest war ever.</p>
          <h3>Directions</h3>
          <p>The nearest rapid transit train is available via Raffles Place.</p>
          <a href="https://goo.gl/maps/mWAfMY5bMmE2" target="_blank" rel="noopener noreferrer"
             class="button is-danger">Open GPS</a>
          <h2>Intel About Singapore</h2>
          <p>Singapore, officially the Republic of Singapore, is a modern city-state and island country in Southeast
            Asia. It lies off the southern tip of the Malay Peninsula and is 137 kilometres (85 mi) north of the
            equator. The country's territory consists of the diamond-shaped main island, commonly referred to as
            Singapore Island in English and Pulau Ujong in Malay, and more than 60 significantly smaller islets.
            Singapore is separated from Peninsular Malaysia by the Straits of Johor to the north, and from Indonesia's
            Riau Islands by the Singapore Strait to the south. Singapore is highly urbanised. Land reclamation has been
            used to expand the country's land area. </p>
          <a href="https://github.com/rubysg/singapore" target="_blank" rel="noopener noreferrer"
             class="button is-danger">Guidebook</a>
        </div>
        <div class="column">
          <iframe frameborder="0" width="100%" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJRxvcxA4Z2jERcrXjcKz3ABM&key=AIzaSyBy_scKjtzHqgB4SXJITwCGxJqoiefSvdk"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
