<app-header title="Landing Venue"></app-header>
<div class="section">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column">
          <p class="title">Conference Venue</p>
          <p class="subtitle">Microsoft Singapore, Level 21. Singapore 018989</p>
          <p>Our landing location for this year is at Microsoft Office on the 21st floor, where the frameworks would
            battle out in their
            toughest war ever.</p>
          <h3>Directions</h3>
          <p>The nearest rapid transit train is available via Raffles Place.</p>
          <a href="https://goo.gl/maps/mWAfMY5bMmE2" target="_blank" rel="noopener noreferrer"
             class="button is-danger">Open GPS</a>
        </div>
        <div class="column">
          <iframe class="gmaps" frameborder="0"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.2047539032008!2d103.8518898291768!3d1.2823869999415454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190ec4dc1b47%3A0x1300f7ac70e3b572!2sSingapore+018989!5e0!3m2!1sen!2ssg!4v1556390304222!5m2!1sen!2ssg"
                  allowfullscreen></iframe>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="title">Workshop Venue</p>
          <p class="subtitle">Google Developer Space, Level 3. Singapore 117371</p>
          <p>Our workshop location for this year is at Developer Space @ Google on the 3rd floor.</p>
          <h3>Directions</h3>
          <p>The nearest rapid transit train is available via Labrador Park.</p>
          <a href="https://goo.gl/maps/zrHPhvYm1rJPv1vz9" target="_blank" rel="noopener noreferrer"
             class="button is-danger">Open GPS</a>
        </div>
        <div class="column">
          <iframe class="gmaps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.828334468838!2d103.79733221527275!3d1.276393399069052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1bc7421f8f5f%3A0xc95ff626aa38d4ad!2sSingapore+117371!5e0!3m2!1sen!2ssg!4v1556390200860!5m2!1sen!2ssg"
            frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <h2>Intel About Singapore</h2>
          <p>Singapore, officially the Republic of Singapore, is a modern city-state and island country in Southeast
            Asia. It lies off the southern tip of the Malay Peninsula and is 137 kilometres (85 mi) north of the
            equator. The country's territory consists of the diamond-shaped main island, commonly referred to as
            Singapore Island in English and Pulau Ujong in Malay, and more than 60 significantly smaller islets.
            Singapore is separated from Peninsular Malaysia by the Straits of Johor to the north, and from Indonesia's
            Riau Islands by the Singapore Strait to the south. Singapore is highly urbanised. Land reclamation has been
            used to expand the country's land area. </p>
          <a href="https://github.com/rubysg/singapore" target="_blank" rel="noopener noreferrer"
             class="button is-danger">Guidebook</a>
        </div>
      </div>
    </div>
  </div>
</div>
