@charset "utf-8"
/* You can add global styles to this file, and also import other style files */

$red: hsl(348, 100%, 61%)
$blue: #1E88E5
$light-blue: #039BE5
$phpurple: #555AA4
$white: #FFF
$primary: $red
$link: $blue
$info: $light-blue

$navbar-height: 6.0rem
$navbar-item-img-max-height: 4.5rem
$navbar-background-color: $phpurple
$navbar-item-color: $white
$navbar-item-hover-color: $phpurple

@import "../node_modules/bulma/bulma.sass"
