<div id="intro">
  <div class="container">
    <div id="intro-main">
      <div class="columns">
        <div class="column">
        </div>
      </div>
    </div>
    <div id="intro-sub">
      <div class="columns">
        <div class="column">
          <p>D-Day: June</p>
          <p>Landing: Singapore</p>
        </div>
      </div>
      <div id="intro-buttons" class="columns">
        <div class="column">
          <a class="button is-rounded is-link">Submit CFP</a>
        </div>
        <div class="column">
          <a class="button is-rounded is-info">Get Tickets</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="framework-selection">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image is-1by1">
          <img class="is-rounded main-logo" src="https://bulma.io/images/bulma-logo.png"/>
        </figure>
        <p>Description here</p>
      </div>
      <div class="column">

      </div>
      <div class="column">

      </div>
    </div>
  </div>
</div>
<div id="sponsors">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2>Our Sponsors</h2>
      </div>
    </div>
    <div class="columns">
      <div id="platinum-sponsor">
        <div class="column">
          <h3>Platinum</h3>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
</div>
