@import "../../styles"

#intro
  width: 100%
  margin: 0
  text-align: center
  background-color: #affffd
  position: relative
  color: $white
  #intro-characters
    width: 100%
    font-size: 0 // display inline-block issue
    .character-info
      padding: 0
      display: inline-block
      width: 25%
      min-height: 100vh
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      img
        max-width: 75%
        height: 75vh
        margin-top: 25vh
      &.warrior
        background-image: url("../../assets/img/characters/warrior-bg.svg")
      &.soldier
        background-image: url("../../assets/img/characters/soldier-bg.svg")
      &.bard
        background-image: url("../../assets/img/characters/bard-bg.svg")
      &.ninja
        background-image: url("../../assets/img/characters/ninja-bg.svg")
  #intro-info
    width: 100%
    z-index: 10
    position: absolute
    left: 0
    top: 0
    #intro-main
      padding-top: 20vh
      .title
        color: $white
        background-color: $red
        display: inline-block
        padding: 10px
    #intro-sub
      padding-top: 30vh
      #intro-sub-wrapper
        min-width: 40%
        max-width: 100%
        margin-left: auto
        margin-right: auto
        display: inline-block
        background-color: rgba(0, 0, 0, 0.8)
        padding: 40px

#framework-class
  padding: 40px 0
  width: 100%
  min-height: 512px
  margin: 0
  #framework-display
    display: inline-block
    width: 50%
  #framework-selector
    display: inline-block
    background-color: #FFF
    width: 50%

+tablet-only
  #intro
    #intro-characters
      .character-info
        min-height: 50vh
        width: 50%
        img
          margin-top: 8vh
          height: 40vh

+mobile
  #intro
    #intro-characters
      .character-info
        min-height: 50vh
        width: 100%
        img
          margin-top: 20vh
          height: 30vh
    #intro-sub
      #intro-buttons
        .is-danger
          float: none
        .is-link
          float: none
