@import "../../styles"

#intro
  width: 100%
  margin: 0
  text-align: center
  background-color: #affffd
  position: relative
  color: $white
  #intro-characters
    width: 100%
    font-size: 0 // display inline-block issue
    .character-info
      padding: 0
      display: inline-block
      width: 25%
      min-height: 100vh
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      img
        max-width: 75%
        height: 75vh
        margin-top: 25vh
  #intro-info
    width: 100%
    z-index: 10
    position: absolute
    left: 0
    top: 0
    #intro-main
      padding-top: 20vh
      .title
        color: $white
        background-color: $red
        display: inline-block
        padding: 10px
    #intro-sub
      padding-top: 30vh
      #intro-sub-wrapper
        min-width: 40%
        max-width: 100%
        margin-left: auto
        margin-right: auto
        display: inline-block
        background-color: rgba(0, 0, 0, 0.8)
        padding: 40px

#framework-class
  padding: 0
  width: 100%
  min-height: 512px
  margin: 0
  .columns
    margin: 0
    padding: 0
    .column
      margin: 0
  #framework-display
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    img
      max-height: 576px
  #framework-selector
    padding: 20px
    background-color: $dark
    h2, h3, p
      color: $white
    a
      img.character-avatar
        transition-property: background-color
        transition-duration: 0.4s
        background-color: $grey-dark
        padding: 10px
        height: 128px
    a:hover
      img.character-avatar
        background-color: $white

+tablet-only
  #intro
    #intro-characters
      .character-info
        min-height: 50vh
        width: 50%
        img
          margin-top: 8vh
          height: 40vh

+mobile
  #intro
    #intro-characters
      .character-info
        min-height: 50vh
        width: 100%
        img
          margin-top: 20vh
          height: 30vh
    #intro-sub
      #intro-buttons
        .is-danger
          float: none
        .is-link
          float: none
