<div id="intro">
  <div id="intro-characters">
    <div class="character-info" *ngFor="let character of characterList" [style.background-image]="'url(' + character.characterBg + ')'">
      <img [src]="character.characterImg" [alt]="character.name">
    </div>
  </div>
  <div id="intro-info">
    <div id="intro-main">
      <div class="columns">
        <div class="column">
          <div class="content is-medium">
            <h1 class="title">
              Framework Wars
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div id="intro-sub">
      <div id="intro-sub-wrapper">
        <div class="columns">
          <div class="column">
            <div class="content is-medium">
              <p>D-Day: 24-25 June</p>
              <p>Landing: <a routerLink="/venue" class="has-text-danger">Microsoft Singapore, Level 21</a></p>
            </div>
          </div>
        </div>
        <div id="intro-buttons" class="columns is-uppercase">
          <div class="column">
            <a href="https://cfp.phpconf.asia/" class="button is-rounded is-danger" target="_blank"
               rel="noopener noreferrer">Submit CFP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
