<app-header title="Sponsors"></app-header>
<div class="section">
  <div class="container">
    <div class="content">
      <div class="columns">

        <div class="column">
          <p>
            Thank you for your interest in supporting PHPConf.Asia 2019. The conference is scheduled for 24th &amp; 25th June 2019 in Singapore.
            This will be <b>THE</b> Pan-Asian PHP conference - bringing together the PHP communities from Thailand, Malaysia, Indonesia, Vietnam, the Philippines and many more.
          </p>

          <p><b>Some highlights:</b></p>
          <ul>
            <li>Up to 250 attendees</li>
            <li>20 international &amp; regional speakers</li>
            <li>Call for papers are open right now: <a href="https://cfp.phpconf.asia">https://cfp.phpconf.asia</a></li>
            <li>Tickets are on sale now</li>
          </ul>

          <p>For sponsorship, please email <a href="mailto:admin@phpconf.asia">admin@phpconf.asia</a>.</p>
          <a href="../../../assets/PHPConfAsia2019-Sponsorship-Proposal.pdf" target="_blank" rel="noopener noreferrer"
             class="button is-danger">Download Sponsorship Prospectus</a>
        </div>

        <!--
        <div class="column">
          <h4>Recap of PHPConf.Asia 2018</h4>
          <p [innerHTML]="speakerdeckHtml"></p>

          <h4>Recap of PHPConf.Asia 2016</h4>
          <p [innerHTML]="flickrHtml"></p>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
