<app-header title="Sponsors"></app-header>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="title is-2">Our Past Years Were Fantastic</p>
        <p class="subtitle is-3">Here's A Summary Of 2018's Happenings</p>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Attendees</p>
          <p class="title">138</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Countries</p>
          <p class="title">12+</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Speakers</p>
          <p class="title">21</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Amazing Sponsors</p>
          <p class="title">7</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <figure class="image">
          <img src="../../assets/img/sponsors/rasmus-speaking.jpg" alt="Rasmus keynote speaker"/>
        </figure>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="title is-3">Rasmus Keynote</p>
        <p class="content">We've had the honor of Rasmus giving an opening keynote speech for our 2018 conference.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <figure class="image">
          <img src="../../assets/img/sponsors/swag.jpg" alt="Pearly the Uniphant"/>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img src="../../assets/img/sponsors/coffee.jpg" alt="Coffee booth"/>
        </figure>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="title is-3">Pearly The Uniphant &amp; Coffee</p>
        <p class="content">Our adorable Pearly the Uniphant was available as a purchasable swag. Pearly also appeared on
          the paper cups used for our coffee!</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <figure class="image">
          <img src="../../assets/img/sponsors/group-photo.jpg" alt="PHPConfAsia 2018 group photo"/>
        </figure>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="title is-3">Group Photo</p>
        <p class="content">At the end of our 2 days conference, we had a group photo with everyone in it. Featuring our
          amazing speakers, sponsors and organizers at the front row.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="content">
          <p class="title is-3">Additional Information</p>
          <p>
            Thank you for your interest in supporting PHPConf.Asia 2019. The conference is scheduled for 24th &amp; 25th
            June 2019 in Singapore.
            This will be <b>THE</b> Pan-Asian PHP conference - bringing together the PHP communities from Thailand,
            Malaysia, Indonesia, Vietnam, the Philippines and many more.
          </p>

          <p class="title is-4">Highlights For 2019</p>
          <ul>
            <li>Up to 250 attendees</li>
            <li>20 international &amp; regional speakers</li>
            <li>Call for papers are open right now: <a href="https://cfp.phpconf.asia">https://cfp.phpconf.asia</a></li>
            <li>Tickets are on sale now</li>
          </ul>

          <p>For sponsorship, please email <a href="mailto:admin@phpconf.asia">admin@phpconf.asia</a>.</p>
          <a href="../../assets/PHPConfAsia2019-Sponsorship-Proposal.pdf" target="_blank" rel="noopener noreferrer"
             class="button is-danger">Download Sponsorship Prospectus</a>
        </div>

        <!--
        <div class="column">
          <h4>Recap of PHPConf.Asia 2018</h4>
          <p [innerHTML]="speakerdeckHtml"></p>

          <h4>Recap of PHPConf.Asia 2016</h4>
          <p [innerHTML]="flickrHtml"></p>
        </div>
        -->
      </div>
    </div>
  </div>
</section>
